@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@200;500;700&family=Roboto:wght@100;400;700&display=swap');

:root{
    --color-primary: black;
    --color-secondary: white;
    --color-extra: grey;
}


body{
    margin: 0;
    font-family: 'Be Vietnam Pro', sans-serif;
    background-color: var(--color-primary);
    color: var(--color-secondary);
}

.main-grid > div{
    border: 1px solid var(--color-secondary);
    
}
.main-grid > div:hover{
    border: 1px solid var(--color-extra);

}


.header{
    grid-area: header;
}
.sidebar{
    grid-area: sidebar;
}
.main{
    grid-area: main;
}
.footer{
    grid-area: footer;
}
.main-grid{
    display:grid;
    grid-template:
        "header" 100px
        "sidebar" 50px
        "main"   200px
        "footer" 100px
    ;
}


@media screen and (min-width: 400px){

    .main-grid{
        grid-template:
        "header header" 100px
        "sidebar main" 100vh
        "footer footer" 100px /
        100px auto 
        ;
    }
}